#main_container {
    object-fit: fill;
    margin-top: 40px;
}

#gridContainer {
    display: grid;
    width: 95%;
    background-color: #FBFBFB;
    margin: 0px 50px 40px;
    grid-template-columns: auto auto;
    /* gap: 10px;*/


}

#gridItem {
    /*width: 100%;*/
    background-color: #FBFBFB;
    border-radius: 10px;

}

.imgContainer {
    width: 100%;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}

.date {
    /* text-align: center; */
    display: flex;
    align-items: center;
    margin: 10px 0px 10px 25px;
}

.date img {
    width: 15px;
}

.date span {
    margin-left: 10px;
    font-size: small;
    color: rgb(172, 170, 170);
    /* display: inline; */
}

#gridItem .subheading {
    font-size: 35px;
    font-weight: 500;
    color: rgb(2, 10, 29);
    margin: 40px 0px 5px 25px;
}

#gridItem .details {
    padding-left: 30px;
    font-size: 18px;
    color: #5c5757cf;
}

#gridItem_map {
    width: 100%;
}

#gridItem_map .searchBar {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border: 1px solid #072f75;
    background-color: rgb(255, 253, 253);
    margin: 0px 0px 10px 0px;
}

.miniMainContainer {
    /* display: flex; */
    height: auto;
    background-color: rgb(255, 255, 255);
    /* flex-direction: column; */
    /* align-content:flex-start; */
    /* justify-content:space-around; */
    /* border: 1px solid red; */
}

.miniContainer {
    display: flex;
    /* height: 13%; */
    background: #FBFBFB;
    ;
    border-radius: 6px;
    box-shadow: 0px 1px 11px 5px #f5f5f500;
    align-items: center;
}

.miniContainer:hover {
    border: 2px solid rgba(23, 118, 182, 0.973);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: 0.1s;
}

.miniContainer .imgContainer {
    width: 50%;
    background-image: url(./media/blogs/minimap1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px;
}

.detailsContainer .subHeading {
    margin-left: 10px;
}

.miniContainer .date {
    margin-left: 10px;
}

#btn {
    width: 30px;
    height: 30px;
    background-color: #154495;
    border-radius: 4px;
    display: flex;
    float: right;
    margin: 10px;
}

#btn:hover {
    scale: 1.05;
}

#btn .next-btn {
    padding: 7px;
}

#gsearch {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border: 2px solid #072f75;
    background-color: rgb(255, 253, 253);
}

#small-box {
    width: 60%;
    display: flex;
    margin: 0% 50% 0% 30%;
}

#small-box .çontent-box {
    padding: 30px;
    border: 1px solid #1554c3c4;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    gap: 36px;
    width: 70%;
}

#small-box .çontent-box .box-text {
    color: #5c5757cf;
    display: flex;
    cursor: pointer;
}

#small-box .çontent-box .box-text1 {
    color: #5c5757cf;
    display: flex;
    cursor: pointer;
}
#small-box .çontent-box .box-text1:hover {
    cursor: pointer;
    font-weight: bold;
    color: #1554c3c4;
}

#small-box .çontent-box .box-text:hover {
    cursor: pointer;
    font-weight: bold;
    color: #1554c3c4;
}

#cards-box {
    display: flex;
    gap: 34px;
    background: #fdfafa;
    margin: 0px 60px 40px;
    grid-template-columns: auto
}

#cards-box .executive_members {
    margin-top: 20px;
    display: inline-flex;
}

#cards-box .executive_members .social_m {
    padding-top: 50px;
    margin-left: 30%;
}

#cards-box .executive_members .prof_ {
    /* width: 260px; */
    /* margin-left: 40px; */
    /* margin-top: -5px; */
    /* height: 400px; */
    align-items: center;
    align-content: center;
    border-radius: 5px;
    border: 1px solid rgb(230 230 233);
}


#cards-box .executive_members .prof_pic {
    border-radius: 100%;
    object-fit: revert;
    margin-top: 20px;
    width: 240px;
    height: 230px;
}

#cards-box .executive_members .prof_:hover {

    border: 3px solid rgb(58, 58, 209);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: 0.1s;
}

#cards-box .executive_members .social_m .padding_icon {
    color: rgb(26, 113, 172);
    font-size: 22px;
}

#cards-box .executive_members .social_m .padding_icon:hover {
    color: rgb(82, 157, 207)
}

.scroll-h {
    display: flex;
    overflow-x: auto;
    scrollbar-color: #69c2dd #e0e0e0;
  scrollbar-width: 10px;
  
}


.scroll-h::-webkit-scrollbar {
    height: 10px;
    
}

.scroll-h::-webkit-scrollbar-track {
    background-color: rgb(247, 244, 244);
  }

  .scroll-h::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(3, 181, 235, 0.959);
    
  }
.hidden{
    display: none;
}
#show{
    width: 90%;
    margin: 0px 50px 40px;
    cursor: pointer;
    display: flex;
}