


/* main section */
#heading{
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to bottom right,#4b9ff3, #225aa7);

}
#event_container{
    display: flex;
    width: 90%;
    /* height: 120vh; */
    margin: 40px auto;
    flex-direction: column;
}
#event1{
    display: flex;
    width: 100%;
    /* height: 44vh; */
    margin: 0px 0px 20px 0px;
    box-shadow: 2px 2px 12px #b8b9ba;
    border-radius: 7px;

}

#event1:hover{
    border: 2px solid #236be9f2;
    transition: 0.2s;

}
.img_container{
    width: 1000px;
}
.img_container img{
    width: 100%;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    object-fit:cover;
}
#event1 .details{
    display: flex;
    flex-direction: column;
    width: auto;
}

#event1 .venue{
    display: flex;
    align-items:center;
    margin: 10px 0px 7.5px 10px;
}
.event_name{
    font-weight:lighter;
    font-size: larger;
    color: #072f75;
    margin:10px
}

.event_details{
    font-weight:lighter;
    font-size: 14px;
    margin:10px 10px 10px 10px;
}

.event_details:hover{
    margin-left: 40px;
    transition: 0.2s;
}

.ticket_link a{
    font-size: medium;
    color: #072f75;
    margin-left: 10px;
}
.ticket_link{
    margin-bottom: 10px;
}

