
#img_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#img_container #blog1{
    /* margin: auto; */
    width: 40%;
    /* height: 30%; */
    margin: 20px 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #b8b9ba;
}
#blog1 .img{
    /* object-fit: contain; */
    width: 100%;
    border-radius: 5px 5px 0px 0px;

}
#blog1:hover{
    background-color: #f7f6f6;
    border: 2px solid rgba(23, 118, 182, 0.973);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
    transform: scale(1.01);
    transition: 0.2s;
}
#btn{
    width: 30px;
    height: 30px;
    background-color: #154495;
    border-radius: 4px;
    display: flex;
    float: right;
    margin: 10px;
}
#btn:hover{
    scale: 1.05;
}
#btn .next-btn{
    padding: 7px;
    /* justify-content:flex-end */
    /* align-items: flex-end; */
}
#load_more{
    border-radius: 4px;
    width: 250px;
    padding: 10px;
    text-align: center;
    margin:20px auto;
    border: 1px solid #072f75;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}
.load_more_text{
    color: #072f75;
    text-decoration: none;
}
#load_more:hover {
    border: 2px solid #072f75;

    
}

/* footer */
/* css code for footer */
footer {
    width: 100%;
    height: 40vh;
    /* background-color: aqua; */
}

.footer-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 30%;
    /* background-color: antiquewhite; */
}

.logo-container img {
    width: 12vh;
    height: 12vh;
    margin-left: 17%;
}

.section-container {
    width: 70%;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-around;

}

.lower-footer {
    margin-top: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.text-div {
    margin-left: 5%;
}

.social-media-container {
    margin-right: 5%;
    width: 20%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: rgb(28, 28, 141);

}

/* footer portion code ends here */
