
#img_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}
#img_container #blog1{
    /* margin: auto; */
    width: 45%;
    /* height: 30%; */
    margin: 5px 5px;
    transition: 0.3s;
    box-shadow: rgb(255 246 254 / 64%) 0px 50px 100px -20px, rgb(221 207 207 / 32%) 0px 30px 60px -30px;
}
#blog1 .img{
    /* object-fit: contain; */
    width: 100%;
    transition: 0.3s;
}
.lazzy{
    transition: 1.9s;
}
#blog1 .img:hover{
    border: 2px solid rgba(5, 159, 231, 0.973);
    transition: 0.1s;
    border-radius: 7px 7px 7px 7px;
}
#btn{
    width: 30px;
    height: 30px;
    background-color: #154495;
    border-radius: 4px;
    display: flex;
    float: right;
    margin: 10px;
}
#btn:hover{
    scale: 1.05;
}
#btn .next-btn{
    padding: 7px;
    /* justify-content:flex-end */
    /* align-items: flex-end; */
}
#load_more{
    border-radius: 4px;
    width: 250px;
    padding: 10px;
    text-align: center;
    margin:20px auto;
    border: 1px solid #072f75;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}
.load_more_text{
    color: #072f75;
    text-decoration: none;
}
#load_more:hover {
    border: 2px solid #072f75;

    
}

/* footer */
/* css code for footer */
footer {
    width: 100%;
    height: 40vh;
    /* background-color: aqua; */
}

.footer-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 30%;
    /* background-color: antiquewhite; */
}

.logo-container img {
    width: 12vh;
    height: 12vh;
    margin-left: 17%;
}

.section-container {
    width: 70%;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-around;

}

.lower-footer {
    margin-top: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.text-div {
    margin-left: 5%;
}

.social-media-container {
    margin-right: 5%;
    width: 20%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: rgb(28, 28, 141);

}

/* footer portion code ends here */
