







/* hero section css code */
.hero-section{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    
    align-items: center;

}

.picture-section img{
    width: 40vw;
    height: 60vh;
    object-fit: contain;
}


.notice-section{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

    margin-top: 10vh;
    height: 70vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page-title{
    width: 100%;
    background: radial-gradient(100% 240.53% at 0% 0%, #51A9FF 0%, #072F75 100%);
    color: white;
    text-align: center;
    height: 8vh;
}
.notice-main{
    width: 90%;
    height: 60vh;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.notice-card{
    width: 22%;
    height: 45vh;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.card-heading{
    background: radial-gradient(100% 240.53% at 0% 0%, #51A9FF 0%, #072F75 100%);

    width: 100%;
    height: 10vh;
    text-align: center;
    color: white;
   
}
.notice-btn{
    width: 10%;
    background-color: #072F75;
    color: white;
    border-radius: 5px;
}
.notice-btn:hover{
    cursor: pointer;
    width: 11%;
    height: 20px;
}
.card-content{
    width: 90%;
    text-align: center;
}
.read-more{
width: 15%;
height: 6vh;
   border: 2px solid #072F75;
   border-radius: 5px;
   font-weight: bold;
   font-size: 17px;
   color: #072F75;

}
.read-more:hover{
    cursor: pointer;
    color: white;
    background-color: #072F75;

}
/* president adress section css */
.president-section{
    margin-top: 10vh;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
   
}
.page-title2{
    width: 80%;
    background: radial-gradient(100% 240.53% at 0% 0%, #51A9FF 0%, #072F75 100%);
    color: white;
    text-align: center;
}
.president-block{
    width: 80%;
    display: flex;
    height: 50vh;
    justify-content: space-around;
    
}
.president-block .president-image-section{
    width: 30%;
    
}
.president-block .president-image-section img{
    width: 25vw;
    height: 50vh;
    object-fit: contain;
}
.president-block .president-address-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FBFBFB;

}
/* president address section ends here */

/* blog-section css */

.blog-section{
    width: 100%;
    height: 70vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
}
.page-title3{
    width: 90%;
    background: radial-gradient(100% 240.53% at 0% 0%, #51A9FF 0%, #072F75 100%);
    color: white;
    text-align: center;
}

.blog-card-section{
    width: 90%;
    height: 50vh;
    
    display: flex;
    justify-content: space-between;

}
.blog-card{
    height: 50vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid gainsboro;

}
.blog-card .blog-image{
    width: 100%;
    height: 30vh;
}
.blog-card .blog-image img{
    width: 20.3vw;
    height: 28.5vh;
    object-fit: contain;
}
.blog-card .blog-content{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* css for blog section ends here */

/* gallery section css */
.gallery-section{
    width: 100%;
    height: 150vh;
    margin-top: 10vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.page-title4{
    width: 87%;
    background: radial-gradient(100% 240.53% at 0% 0%, #51A9FF 0%, #072F75 100%);
    color: white;
    text-align: center;
}
.picture-section2{
    width: 90%;
    height: 135vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.row1{
    width: 100%;
    height: 63vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.row1 .col11{
    width: 31%;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row-a{
    background-image: url("/images/row-a.jpg");
    background-size: cover;
    
    width: 100%;
    height: 30vh;
}

.row-b{
    width: 100%;
    height: 30vh;
   background-image: url("/images/row-b.jpg");
    background-size: cover;

} 
.row1 .col12{
    width: 31%;
    height: 63vh;
    background-image: url("/images/col12.jpg");
    background-size: cover;
}
.row1 .col13{
    width: 31%;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.row-c{
    width: 100%;
    height: 25vh;
    background-image: url("/images/row-c.jpg");
    background-size: cover;

}
.row-d{
    width: 100%;
    height: 35vh;
    background-image: url("/images/row-d.jpg");
    background-size: cover;

    
}
.row2{
    width: 100%;
    height: 63vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.row2 .col14{
 width: 48%;
 height: 63vh;
 background-image: url("/images/col14.jpg");
 background-size: cover;

 
}
.row2 .col15{
    width: 23%;
    height: 63vh;
    background-image: url("/images/col15.jpg");
    background-size: cover;

    
}
.row2 .col16{
    width: 23%;
    height: 63vh;
    background-image: url("/images/col16.jpg");
    background-size: cover;

    
}








/* css code for footer */
footer {
    width: 100%;
    height: 40vh;
    margin-top: 20vh;
    /* background-color: aqua; */
}

.footer-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 30%;
    /* background-color: antiquewhite; */
}

.logo-container img {
    width: 12vh;
    height: 12vh;
    margin-left: 17%;
}

.section-container {
    width: 70%;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-around;

}

.lower-footer {
    margin-top: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.text-div {
    margin-left: 5%;
}

.social-media-container {
    margin-right: 5%;
    width: 20%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: rgb(28, 28, 141);

}

/* footer portion code ends here */