







/* hero section css code */
.hero-section{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    
    align-items: center;

}

.picture-section img{
    width: 40vw;
    height: 60vh;
    object-fit: contain;
}


.notice-section{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: 10vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.page-title h1{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 300;
}
.notice-main{
    width: 90%;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.notice-card{
    width: 22%;
    height: 45vh;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}
.card-heading{
    background: radial-gradient(100% 240.53% at 0% 0%, #51A9FF 0%, #072F75 100%);

    width: 100%;
    height: 10vh;
    text-align: center;
    color: white;
   
}
.notice-btn{
    width: 12%;
    height: 25px;
    background-color: #206eb1;
    color: white;
    border: none;
    border-radius: 3px;
}
.notice-btn:hover{
    cursor: pointer;
    width: 11%;
    height: 24px;
    transition: 0.1s;
}
.card-content{
    width: 90%;
    text-align: center;
}
.read-more{
width: 15%;
height: 6vh;
   border: 2px solid #072F75;
   border-radius: 5px;
   font-weight: bold;
   font-size: 17px;
   margin-top: 10px;
   color: #072F75;

}

.read-more a:hover{
color: white;
}
.read-more:hover{
    cursor: pointer;
    color: white;
    background-color: #072F75;

}
/* president adress section css */
.president-section{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
   
}

.president-block{
    width: 80%;
    margin-top: 10px;
    display: flex;
    border: 1px solid #dfd0d0;
    border-radius: 0px 5px 5px 200px;
    justify-content: space-around;
    
}

.president-title{
    padding-top: 40px;
}

.president-block:hover{
    
    border: 2px solid rgba(23, 118, 182, 0.63);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;  
    
}
.president-block .president-image-section{
    width: 50%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;

    
}
.president-block .president-image-section img{
    width: 25vw;
    height: 50vh;
    object-fit: contain;
}
.president-block .president-address-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
/* president address section ends here */

/* blog-section css */

.blog-section{
    width: 100%;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.text-content{
    padding: 40px;
    font-size: 20px;
    color: #5c5757cf;;
}
.blog-text{
    color: #5c5757cf;
}

.blog-card-section{
    width: 90%;
    height: auto;
    gap:10px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;

}
.blog-card{
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.5px solid gainsboro;

}

.blog-card:hover{
    border: 3px solid rgba(23, 118, 182, 0.767);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; 
    transition: 0.2s;
}

.blog-card .blog-image{
    height: 40vh;
}
.blog-card .blog-image img{
    width: 24.0vw;
    height: 28.5vh;
    object-fit: contain;
}
.blog-card .blog-content{
    height: 20vh;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* css for blog section ends here */

/* gallery section css */
.gallery-section{
    width: 100%;
    margin-top: 10vh;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.picture-section2{
    width: 90%;
    height: 135vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.row1{
    width: 100%;
    height: 63vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.row1 .col11{
    width: 31%;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row-a{
    background-image: url("/images/row-a.jpg");
    background-size: cover;
    
    width: 100%;
    height: 30vh;
}

.row-b{
    width: 100%;
    height: 30vh;
   background-image: url("/images/row-b.jpg");
    background-size: cover;

} 
.row1 .col12{
    width: 31%;
    height: 63vh;
    background-image: url("/images/col12.jpg");
    background-size: cover;
}
.row1 .col13{
    width: 31%;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.row-c{
    width: 100%;
    height: 25vh;
    background-image: url("/images/row-c.jpg");
    background-size: cover;

}
.row-d{
    width: 100%;
    height: 35vh;
    background-image: url("/images/row-d.jpg");
    background-size: cover;

    
}
.row2{
    width: 100%;
    height: 63vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
.row2 .col14{
 width: 48%;
 height: 63vh;
 background-image: url("/images/col14.jpg");
 background-size: cover;

 
}
.row2 .col15{
    width: 23%;
    height: 63vh;
    background-image: url("/images/col15.jpg");
    background-size: cover;

    
}
.row2 .col16{
    width: 23%;
    height: 63vh;
    background-image: url("/images/col16.jpg");
    background-size: cover;

    
}



/* css code for footer */
footer {
    width: 100%;
    height: 40vh;
    margin-top: 20vh;
    /* background-color: aqua; */
}

.footer-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 30%;
    /* background-color: antiquewhite; */
}

.logo-container img {
    width: 12vh;
    height: 12vh;
    margin-left: 17%;
}

.section-container {
    width: 70%;
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-around;

}

.lower-footer {
    margin-top: 20px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.text-div {
    margin-left: 5%;
}

.social-media-container {
    margin-right: 5%;
    width: 20%;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    color: rgb(28, 28, 141);

}

/* footer portion code ends here */
.scroll-h{
width: 90%;
display: flex;
overflow-x: auto;
}


 .scroll-h::-webkit-scrollbar{
    display: none;
  }


  .notice_spam {
    border: 1px solid rgb(222, 222, 250);
    margin-top: 30px;
    width: 280px;
    padding: 5px;
    background-color: white;
    margin-left: 15px;
    font-family: 'DM Sans';
    box-shadow: 1px 1px rgb(255, 255, 255);
    padding-top: 50px;
    text-align: center;
    border-radius: 7px;
}

.notice_spam:hover {
    border: 2px solid rgba(8, 20, 245, 0.849);
    transition: 0.2s;
    background-color: rgba(240, 240, 255, 0.904);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.p {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #5c5757cf;;
}

.p1 {
    padding-top: 15px;
    padding-bottom: 10px;
    color: rgb(2, 10, 29);
}


#btn{
    width: 30px;
    height: 30px;
    background-color: #154495;
    border-radius: 4px;
    display: flex;
    float: right;
    margin: 10px;
}
#btn:hover{
    scale: 1.05;
}
#btn .next-btn{
    padding: 7px;
    /* justify-content:flex-end */
    /* align-items: flex-end; */
}